.slide-in {
  animation-name: slide-in;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards; }
  .slide-in--1 {
    animation-delay: .1s; }
  .slide-in--2 {
    animation-delay: .2s; }
  .slide-in--3 {
    animation-delay: .5s; }

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-rendering: optimizeSpeed; }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 56.25em) {
    html {
      font-size: 56.25%; } }
  @media screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }

::selection {
  background-color: #b7d8df; }

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  color: #000;
  line-height: 1.8; }

.heading-1 {
  font-size: 7rem;
  line-height: 1;
  letter-spacing: -2px; }

.heading-2-s {
  font-size: 4.2rem; }

.heading-2-lg {
  font-size: 6.2rem;
  line-height: 1.2;
  font-weight: 500; }

.heading-3 {
  font-size: 3.2rem;
  line-height: 1.2;
  font-weight: 500; }

.heading-4 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 600; }

.paragraph {
  font-size: 1.8rem; }

.margin-bottom-small {
  margin-bottom: 3rem; }

.margin-bottom-small2 {
  margin-bottom: 2rem; }

.margin-bottom-medium {
  margin-bottom: 7rem; }

.margin-bottom-large {
  margin-bottom: 15rem; }

.margin-right-small {
  margin-right: .5rem; }

.container {
  max-width: 120rem;
  margin: 0 auto; }

.flex {
  display: flex;
  align-items: center; }

.col-1of2 {
  flex: 0 0 50%; }

.col-1of2-gap {
  flex-basis: calc((100%-3rem)/2);
  flex-grow: 1;
  flex-shrink: 1; }
  .col-1of2-gap:first-child {
    margin-right: 3rem; }

.btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  padding: 1.2rem 4rem;
  font-weight: 500;
  font-size: 1.6rem;
  transition: all .2s ease;
  margin-bottom: 1rem; }

.btn--dark:link, .btn--dark:visited {
  background-color: #000;
  color: #fff; }

.btn--dark:hover {
  background-color: #b7d8df;
  color: #000; }

.btn--light:link, .btn--light:visited {
  background-color: #fff;
  color: #000;
  box-shadow: inset 0px 0px 0px 1px #000; }

.btn--light:hover {
  background-color: #000;
  color: #fff; }

.btn--fixed-width {
  width: 22rem;
  text-align: center; }
  @media screen and (max-width: 68.75em) {
    .btn--fixed-width {
      width: fit-content;
      padding: 1.2rem 0rem; } }

.btn--dark2:link, .btn--dark2:visited {
  background-color: #000;
  color: #fff; }

.btn--dark2:hover {
  background-color: #fff;
  color: #000; }

.btn-inline:link, .btn-inline:visited {
  position: relative;
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: none;
  color: #000; }

.btn-inline:hover {
  color: #14b6d6;
  transition: all .5s ease-in-out; }

.btn-inline::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -.5rem;
  width: 100%;
  height: 1px;
  background-color: #000;
  background-image: linear-gradient(170deg, #14b6d6 20%, #fff 20%, #fff 50%, #14b6d6 30%);
  background-repeat: no-repeat;
  background-size: 0%; }

.btn-inline:hover::before {
  background-color: #14b6d6;
  background-image: linear-gradient(170deg, #14b6d6 20%, #fff 20%, #fff 50%, #14b6d6 30%);
  transition: all .7s ease-in-out;
  background-size: 700%; }

.footer {
  background-color: #000;
  padding: 9rem; }
  .footer__logo-box {
    margin-bottom: 3rem; }
  .footer__logo-img {
    height: 3.5rem;
    width: 12.2rem;
    fill: #fff; }
  .footer__info {
    color: #fff;
    display: flex; }
  .footer__adress {
    font-size: 1.7rem;
    margin-right: auto; }
  .footer__nav {
    display: flex;
    padding-bottom: 8rem; }
  .footer__nav-box:not(:last-child) {
    margin-right: 8rem; }
  .footer__link:link, .footer__link:visited {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    display: block;
    margin-bottom: 1rem; }
  .footer__link:hover {
    color: #bbb; }
  .footer__link--dark:link, .footer__link--dark:visited {
    color: #eee; }
  .footer__link--dark:hover {
    color: #bbb; }
  .footer__copy {
    border-top: solid 1px #444;
    padding-top: 3rem;
    font-size: 1.5rem;
    color: #fff;
    display: flex; }
    .footer__copy > a {
      margin-right: auto; }

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 20; }
  .header__logo {
    margin-right: 10rem;
    padding: 2rem 0; }
  .header__logo-img {
    height: 3.5rem;
    width: 12.2rem; }
  .header__navigation {
    list-style: none;
    display: flex;
    margin-right: auto; }
  .header__link:link, .header__link:visited {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.6rem;
    color: #000;
    padding-right: 4rem;
    transition: all .3s; }
  .header__link:hover {
    color: #666; }

.is-scrolled {
  transition: .5s ease-in-out;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.05); }

.section-logos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 7rem; }
  .section-logos__item {
    padding: 2rem 0; }
    .section-logos__item:nth-child(3) > img {
      height: 3rem; }
    .section-logos__item:nth-child(4) > img {
      height: 3.5rem; }
    .section-logos__item:nth-child(5) > img {
      height: 2rem; }
  .section-logos__img {
    height: 2.5rem; }

.splide__list {
  height: 75vh;
  display: flex;
  align-items: center; }

.splide__slide {
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000; }

.splide__img-cont {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s ease-in-out; }

.splide__img {
  max-height: 80%;
  max-width: 80%;
  transition: .5s ease-in-out; }

.splide__text-cont {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.splide__text {
  font-size: 3.2rem;
  font-weight: 600; }

.splide__slide:nth-child(3n-2):hover .splide__img-cont {
  background-color: #b7d8df; }

.splide__slide:nth-child(3n-1):hover .splide__img-cont {
  background-color: #EBD2B4; }

.splide__slide:nth-child(3n):hover .splide__img-cont {
  background-color: #92e4d6; }

.splide__slide:hover .splide__img {
  transform: scale(1.1); }

.splide__slide:hover .splide__text {
  text-decoration: underline; }

.change-arrow {
  width: 4rem;
  height: 4rem;
  opacity: 1;
  transform: scale(1.5) translateY(-5rem);
  background-color: rgba(0, 0, 0, 0.2);
  fill: #fff; }

.change-arrow:hover {
  background-color: #14b6d6; }

.section-commitment {
  display: flex;
  height: 40vw;
  overflow: hidden; }
  .section-commitment__left {
    margin-top: 10rem;
    background-color: #67BEB0; }
    @media screen and (max-width: 68.75em) {
      .section-commitment__left {
        margin-top: 0; } }
  .section-commitment__right {
    position: relative;
    overflow: hidden; }
  .section-commitment__text {
    background-color: #fff;
    position: relative;
    left: 13%;
    z-index: 10;
    padding: 5rem 5rem 8rem; }
    @media screen and (max-width: 93.75em) {
      .section-commitment__text {
        padding: 3rem; } }
    @media screen and (max-width: 81.25em) {
      .section-commitment__text {
        padding: 0 3rem; } }
    @media screen and (max-width: 68.75em) {
      .section-commitment__text {
        padding: 0 1rem;
        left: 0; } }
  .section-commitment__img {
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.section-features {
  display: flex;
  justify-content: space-between; }
  .section-features__item {
    padding: 3rem;
    flex: 0 0 32%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .section-features__item *:last-child {
      margin-top: auto; }
  .section-features__heading {
    display: flex;
    font-size: 3.2rem;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem; }
  .section-features__icon {
    margin-right: 2rem;
    height: 4rem;
    width: 4rem; }
  .section-features__text {
    margin-bottom: 3rem;
    font-size: 1.8rem; }

.section-hero {
  max-width: 135rem;
  margin: 0 auto;
  height: 45vw;
  display: flex;
  margin-top: 8rem;
  margin-bottom: 7rem; }
  .section-hero__col-left {
    background-color: #EBD2B4; }
  .section-hero__col-right {
    overflow: hidden; }
  .section-hero__text {
    position: relative;
    left: 4rem;
    background-color: #fff;
    padding: 9rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    overflow: hidden;
    width: auto; }
    @media screen and (max-width: 93.75em) {
      .section-hero__text {
        padding: 7rem;
        margin-top: 4rem; } }
    @media screen and (max-width: 81.25em) {
      .section-hero__text {
        padding: 5rem; } }
    @media screen and (max-width: 68.75em) {
      .section-hero__text {
        left: 0;
        padding: 2rem;
        margin-top: 0; } }
  .section-hero__img {
    height: 100%; }

.section-info1 {
  display: flex;
  height: 40vw;
  overflow: hidden; }
  .section-info1__col-left {
    position: relative;
    overflow: hidden; }
  .section-info1__col-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 7rem; }
  .section-info1__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%; }

.section-info2 {
  display: flex; }
  .section-info2 > * {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 1rem; }

.section-speak {
  display: flex;
  height: 40vw;
  overflow: hidden; }
  .section-speak__left {
    display: flex;
    flex-direction: column; }
  .section-speak__right {
    background-color: #D4E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex; }
  .section-speak__img-container {
    position: relative;
    flex: 0 0 66.6%;
    overflow: hidden; }
  .section-speak__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%; }
  .section-speak__text {
    flex: 0 0 33.3%;
    padding: 2rem; }
  .section-speak__cta {
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center; }

.section-support {
  display: flex;
  margin-bottom: 14rem; }
  .section-support__column--left {
    border-bottom: solid 6px #67BEB0;
    padding: 7rem 5rem; }
  .section-support__column--right {
    border-bottom: solid 6px #EBD2B4;
    padding: 7rem 5rem; }
