$color-primary-1: #b7d8df;
$color-primary-2: #D4E7EB;
$color-primary-3: #14b6d6;
$color-secondary: #EBD2B4;
$color-tertiary: #67BEB0;
$color-tertiary-2: #92e4d6;
$color-dark: #000;
$color-light: #fff;

$margin-bottom-md: 7rem;
$margin-bottom-lg: 15rem;

$font-color-main: #000;
$font-color-inverse: #fff;
$font-gray-dark: #666;
$font-gray-light: #bbb;
$font-gray-lightest: #eee;