.footer {
  background-color: $color-dark;
  padding: 9rem;

  @media screen and (max-width: 48.75em) {
    padding: 9rem 5rem;
  }

  &__logo-box {
    margin-bottom: 3rem;
  }

  &__logo {

  }

  &__logo-img {
    height: 3.5rem;
    width: 12.2rem;
    fill: $color-light;
  }

  &__info {
    color: $color-light;
    display: flex;

    @media screen and (max-width: 48.75em) {
      flex-direction: column;
    }
  }

  &__adress {
    font-size: 1.7rem;
    margin-right: auto;

    @media screen and (max-width: 48.75em) {
      margin-bottom: 5rem;
    }
  }

  &__nav {
    display: flex;
    padding-bottom: 8rem;

    @media screen and (max-width: 48.75em) {
      flex-direction: column;
      padding-bottom: 2rem;
    }
  }

  &__nav-box {
    @media screen and (max-width: 48.75em) {
      margin-bottom: 2rem;
    }

    &:not(:last-child) {
      margin-right: 8rem;
    }

    nav {
      & > * {
        padding-right: 1rem;
      }

      @media screen and (max-width: 48.75em) {
        display: flex;
        flex-wrap: wrap;
      }
    } 
  }

  &__link {
    &:link,
    &:visited {
      font-size: 1.5rem;
      text-decoration: none;
      color: $font-color-inverse;
      display: block;
      margin-bottom: 1rem;
    }
    &:hover {
      color: $font-gray-light;
    }

    &--dark:link,
    &--dark:visited {
      color: $font-gray-lightest;
    }
    &--dark:hover {
      color: $font-gray-light;
    }
  }

  &__copy {
    border-top: solid 1px #444;
    padding-top: 3rem;
    font-size: 1.5rem;
    color: $font-color-inverse;
    display: flex;
    & > a {
      margin-right: auto;
    }
  }
 
}
