.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color-light;
  z-index: 20;

  &__logo {
    margin-right: 10rem;
    padding: 2rem 0;
  }

  &__logo-img {
    height: 3.5rem;
    width: 12.2rem;
  }

  &__navigation {
    list-style: none;
    display: flex;
    margin-right: auto;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.6rem;
    color: $font-color-main;
    padding-right: 4rem;
    transition: all .3s;
  }

  &__link:hover {
    color: $font-gray-dark;
  }
}

.is-scrolled {
  transition: .5s ease-in-out;
  box-shadow: 0px 5px 7px 0px rgba(0,0,0,.05);
}