.splide {

  &__list {
    height: 75vh;
    display: flex;
    align-items: center;
  }

  &__slide {
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $font-color-main;
  }

  &__img-cont {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
  }
  
  &__img {
    max-height: 80%;
    max-width: 80%;
    transition: .5s ease-in-out;
  }

  &__text-cont {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    font-size: 3.2rem;
    font-weight: 600;
  }

  &__slide:nth-child(3n-2):hover  &__img-cont {
    background-color: $color-primary-1;
  }
  &__slide:nth-child(3n-1):hover  &__img-cont {
    background-color: $color-secondary;
  }
  &__slide:nth-child(3n):hover  &__img-cont {
    background-color: $color-tertiary-2;
  }

  &__slide:hover  &__img {
    transform: scale(1.1);
  }

  &__slide:hover  &__text {
    text-decoration: underline;
  }
}

.change-arrow {
  width: 4rem;
  height: 4rem;
  opacity: 1;
  transform: scale(1.5) translateY(-5rem);
  background-color: rgba(#000,.2);
  fill: #fff;
}

.change-arrow:hover {
  background-color: #14b6d6;
}