.section-hero {
  max-width: 135rem;
  margin: 0 auto;
  height: 45vw;
  display: flex;
  margin-top: 8rem;
  margin-bottom: $margin-bottom-md;

  &__col-left {
    background-color: $color-secondary;
  }

  &__col-right {
    overflow: hidden;
  }

  &__text {
    position: relative;
    left: 4rem;
    background-color: $color-light;
    padding: 9rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    overflow: hidden;
    width: auto;

    @media screen and (max-width: 93.75em) {
      padding: 7rem;
      margin-top: 4rem;
    }

    @media screen and (max-width: 81.25em) {
      padding: 5rem;
    }

    @media screen and (max-width: 68.75em) {
      left: 0;
      padding: 2rem;
      margin-top: 0;
    }
  
  }

  &__img {
    height: 100%;
  }
}
