.section-hero {
  max-width: 135rem;
  margin: 0 auto;
  height: 45vw;
  display: flex;
  margin-top: 8rem;
  margin-bottom: $margin-bottom-md;

  &__col-left {
    background-color: $color-secondary;
  }

  &__col-right {
    overflow: hidden;
  }

  &__text {
    position: relative;
    left: 4rem;
    background-color: $color-light;
    padding: 9rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    overflow: hidden;
    width: auto;
    aspect-ratio: 1.4;
  }

  &__img {
    height: 100%;
  }
}
