.margin-bottom-small {
  margin-bottom: 3rem;
}
.margin-bottom-small2 {
  margin-bottom: 2rem;
}

.margin-bottom-medium {
  margin-bottom: 7rem;
}

.margin-bottom-large {
  margin-bottom: 15rem;
}

.margin-right-small {
  margin-right: .5rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.col-1of2 {
  flex: 1 1 50%;
}

.col-1of2-gap {
  flex: 1 1 calc((100%-3rem)/2);

  @media screen and (max-width: 48.75em) {
    flex: 0 0 1;
  }
  
  &:first-child {
    margin-right: 3rem;

    @media screen and (max-width: 48.75em) {
      margin-right: 0;
    }
  }
}