.home-support {
  display: flex;
  margin-bottom: 14rem;
  
  @media screen and (max-width: 48.75em) {
    margin-bottom: 3rem;
  }

  @media screen and (max-width: 41.25em){
    flex-direction: column;
  }

  &__column-left {
      border-bottom: solid 6px $color-tertiary;
      padding: 7rem 5rem;
      flex: 1 1 calc((100%-3rem)/2);
      margin-right: 3rem;

      @media screen and (max-width: 41.25em){
        flex: 1 1 100%;
        margin-right: 0;
        padding: 3rem 5rem;
      }
  }
  &__column-right {
      border-bottom: solid 6px $color-secondary;
      padding: 7rem 5rem;
      flex: 1 1 calc((100%-3rem)/2);

      @media screen and (max-width: 41.25em){
        flex: 1 1 100%;
      }
  }
}