.section-logos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: $margin-bottom-md;
  
  @media screen and (max-width: 48.75em) {
    margin-bottom: 0;
  }

  &__item {
    padding: 2rem 0;

    &:nth-child(3) > img {
      height: 3rem;
    }
    &:nth-child(4) > img {
      height: 3.5rem;
    }
    &:nth-child(5) > img {
      height: 2rem;
    }
    &:last-child {
      @media screen and (max-width: 41.25em){
        display: none;
      }
    }
  }

  &__img {
    height: 2.5rem;
  }
}