.home-commitment {
  display: flex;
  height: 40vw;
  overflow: hidden;
  margin-bottom: $margin-bottom-lg;

  @media screen and (max-width: 41.25em){
    flex-direction: column;
    height: 75rem;
    margin-bottom: 5rem;
  }

  @media screen and (max-width: 31.25em){
    height: 60rem;
  }

  &__left {
    margin-top: 10rem;
    background-color: $color-tertiary;
    flex: 1 1 50%;

    @media screen and (max-width: 68.75em) {
      flex: 1 1 30%;
      margin-top: 0;
      background-color: transparent;
    }
  }

  &__right {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 50%;

    @media screen and (max-width: 68.75em) {
      flex: 1 1 70%;
      margin-top: 0;
    }
  }

  &__text {
    background-color: $color-light;
    position: relative;
    left: 13%;
    z-index: 10;
    padding: 5rem 5rem 8rem;

    @media screen and (max-width: 93.75em) {
      padding: 3rem;
    }

    @media screen and (max-width: 81.25em) {
      padding: 0 3rem;
    }
    
    @media screen and (max-width: 68.75em) {
      padding: 0 1rem;
      left: 0;
    }

    @media screen and (max-width: 41.25em) {
      padding-bottom: 5rem;
    }
  }

  &__img {
    max-height: 100%;

    @media screen and (max-width: 41.25em){
      height: 100%;
      width: auto;
      transform: translateX(-10%);
    }
  }
}